body {
  margin: 0;
  font-family: Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
/* index page */
.nav-font {
	color: #999;
}

.username {
	background: url(../images/login-locked-icon.png) no-repeat 15px center;
	margin-bottom: 0;
}

.pwd {
	background: url(../images/login-key-icon.png) no-repeat 15px center;
	margin-bottom: 0;
}

.username, .pwd {
	padding: 8px 0;
	border: 2px solid #e1e1e1;
	margin-bottom: 20px;
	font-weight: normal;
	text-indent: 43px;
	outline: 0;
	font-size: 1.25em;
}

/*login page*/
.forget {
	text-align: right;
}

.login {
	margin-bottom: 10px;
}

/*register page*/
.user-register label {
	width: 40%;
}

/*species page*/
.img-border {
	border-radius: 5%;
	box-shadow: 0px 0px 8px #f00;
	text-align: center;
}

/*manage page*/
.main-left,
.main-middle,
.main-right {
	width: 30%;
	padding: 10px;
	float: left;
}

.main-middle {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.row-clear {
	margin-right: 0!important;
	margin-left: 0!important;
	clear: both;
}

.blue-border {
	border-radius: 5%;
	box-shadow: 0px 0px 8px #00f;
}

.btn-wd {
	width: 100px;
	margin-bottom: 5px;
}

.prev-thumbnail {
	clear: both;
}

.small-pic {
	width: 64px;
	height: 64px;
}

.small-filed {
	padding: 2px;
}

.new-update {
	margin-top: 10px;
}

.create-new {
	float: left;
}

.area {
	width: 90%;
	height: 100px;
}

.update-info {
	float: right;
	margin-right: 60px;
}

.list-group-item input {
	width: 50%;
	margin-bottom: 5px;
}

/*modiy page*/
.row-margin {
	margin-top: 10px;
}

.page-no {
	clear: both;
	margin-top: 10px;
}

#page {
	float: left;
}
/*flower page*/
.div-preview {
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.whole-img {
	width: 262px;
	height: 196px;
}

.preview {
	width: 81px;
	height: 61px;
}