body {
  margin: 0;
  font-family: "Microsoft YaHei", STSong, Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #e9e9e9;/*#BBD9EE;*/
  font-weight: normal!important;
}

footer {
	text-align: center;
}
/* index page */
.nav-font {
	color: #999;
}

/*register page*/

.top-margin {
	margin-top: 50px;
}

.top-margin label {
	width: 30%;
	text-align: right;
}

.top-margin input {
	width: 30%!important;
}

.btn-register, .btn-pwd {
	margin-left: 40px;
}

.user-register {
	background: ;
}
/*species page*/
.img-border {
	/*border-radius: 5%;
	box-shadow: 0px 0px 8px #f00;*/
	width: 90%;
	padding: 5%;
	text-align: center;
}

/*manage page*/
.main-left,
.main-middle,
.main-right {
	width: 30%;
	padding: 10px;
	float: left;
}

.main-middle {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.row-clear {
	margin-right: 0!important;
	margin-left: 0!important;
	clear: both;
}

.blue-border {
	border-radius: 5%;
	box-shadow: 0px 0px 8px #00f;
}

.btn-wd {
	width: 100px;
	margin-bottom: 5px;
}

.prev-thumbnail {
	clear: both;
}

.small-pic {
	width: 64px;
	height: 64px;
}

.small-filed {
	padding: 2px;
}

.new-update {
	margin-top: 10px;
}

.create-new {
	float: right;
	margin-right: 60px;
}

.area {
	width: 90%;
	height: 100px;
}

.update-info {
	float: right;
	margin-right: 20px;	
}

.list-group-item input {
	width: 50%;
	margin-bottom: 5px;
}

/*modiy page*/
.row-margin {
	margin-top: 10px;
}

.page-no {
	clear: both;
	margin-top: 10px;
}

#page {
	float: left;
}
/*flower page*/
.div-preview {
	padding: 5%;
}

/*.whole-img {
	width: 90%;
	padding:  5%;
}*/

.preview {
	width: 100%;
	text-align: center;
}

.row-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*account page*/
.add-user {
	border-top: 2px solid #f70;
	border-bottom: 2px solid #f70;
	margin-bottom: 5px;
}

.add-user input {
	width: 100%;
}

.new-user {
	float: right;
}

.btn-detail {
	text-align: center;
}

/*detail page*/
.label-left {
	width: 30%;
	text-align: left;
}

.detail {
	font-size: 20px;
}

.magin-dis {
	margin-top: 20px;
	margin-bottom: 20px
} 

.add-info, .modiy-pwd {
	margin-left: 30%;
}

.row-padding {
	padding-left: 40px;
}

.info-pwd {
	width: 50%;
}

.btn-del {
	color: red;
}

textarea {  
    padding: 5px;  
    font-size: 15px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 1px solid #ccc;  
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;  
}  
  
textarea:focus {  
    border: 1px solid #fafafa;  
    -webkit-box-shadow: 0px 0px 6px #007eff;  
    -moz-box-shadow: 0px 0px 5px #007eff;  
    box-shadow: 0px 0px 5px #007eff;  
}  

.btn-field {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

.padding3 {
	padding: 3%;
}

.flower-name {
	color: red;
}

.padding-leftright3 {
	padding-left: 3%;
	padding-right: 3%;
}

.update-para {
	float: right;
	margin-right: 80px;
}

.text-center {
	text-align: center;
}

.wid3 {
	width: 30%!important;
}

.align-left {
	margin-left: 0px!important;
	padding-left: 0!important;
}


.align-center {
	text-align: center;
}

.vote-chance {
	color: #00f;
}
/* Breadcrumb Styles
 ---------------------------------------------------------------------*/
#breadCrumb3>ul {
	background-color: #e9e9e9;
}

.bg-gray {
	background-color: #e9e9e9;
}

#note{
	position:absolute;
	width:150px;
	padding:5px;
	text-align: center;
	background:#eee;
	border:1px solid #ccc;
	left:40%;
	z-index:9999;
	display:none;
} 