<!DOCTYPE html>
<html>
	<head>
		<title>管理后台</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/offcanvas.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" href="css/jquery.fileupload.css">
		<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
		<!-- CSS adjustments for browsers with JavaScript disabled -->
		<noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
		<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!--[if lt IE 9]>
     		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    	<![endif]-->
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="nav-font">导航栏</span>
	          </button>
	          <a class="navbar-brand" href="#">管理后台</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="#">主页</a></li>
	            <li class="dropdown active">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">品种资料 <b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                  <li><a href="#">修改品种</a></li>
	                  <li><a href="#">票数统计</a></li>
	                </ul>
	              </li>
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">电商平台 <b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                  <li><a href="#">APP应用指南</a></li>
	                  <li><a href="#">产品分级机制详述</a></li>
	                  <li><a href="#">信用体系详述</a></li>
	                </ul>
	              </li>
	            <li><a href="#">投票系统</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
                <li class="ac"><a></a></li>
                <li><a href="index.html">注销</a></li>
              </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	    <div class="container">
	    	<div class="col-lg-3 col-sm-3">
	    		<div class="list-group">
	    			<!--preview current picture -->
	    			<img src="images/product/01.jpg" class="list-group-item img-size" id="big-pic">
	    			<!--QRCode -->
	    			<img src="images/product/02.jpg" class="list-group-item img-size" id="QRCode">
	    		</div>
	    	</div>
	    	<div class="col-lg-5 col-sm-5">

				<div class="list-group">
					<ul>
						<li class="list-group-item">
							<label>名称</label>
							<input type="text" class="flbname">
						</li>
						<li class="list-group-item">
							<label>系类</label>
							<input type="text" class="flbspecies">
							<select class="sel-series">
							</select>
						</li>
						<li class="list-group-item">
							<label>颜色</label>
							<input type="text"  class="flbcolor">
							<select class="sel-color">
							</select>
						</li>
						<li class="list-group-item">
							<label>品种</label>
							<input type="text" class="flbbreed">
							<select class="sel-breed">
							</select
						</li>
					</ul>
				</div>
	    	</div>
	    	<div class="col-lg-3 col-sm3">
	    		<form id="fileupload">
	    			<div class="col-lg-9 col-sm-9">
	    				<div class="btn-field">
		    				<span class="btn btn-success fileinput-button btn-wd">
			                    <span>上传图片</span>
			                    <!--<input type="file" name="files[]" multiple>-->
			                    <input type="file" name="files[]" multiple accept="image/*" capture="camera" class="file-path">
			                </span>
			            </div>
			            <div class="btn-field">
			            	<button type="button" class="btn btn-warning sumbmit">提交</button>
			            </div>
			            <div class="btn-field">
			                <button type="button" class="btn btn-primary btn-wd gen-code">
			                	<span>生成二维码</span>
			                </button>
			            </div>
			            <span class="fileupload-process"></span>
		    			<div class="fileupload-progress fade">
			                <!-- The global progress bar -->
			                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
			                </div>
			                <!-- The extended global progress state -->
			                <div class="progress-extended">&nbsp;</div>
			            </div>
						<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
		    	    </div>	
	    		</form>
	    	</div>
	    	<div class="row row-clear">
	    		<div class="main-left blue-border">
	    			<h2 class="title1">参数</h2>
				    <textarea class="area">
				    </textarea>
	    		</div>
	    		<div class="main-middle blue-border">
	    			<h2 class="title2">种植感悟</h2>
				    <textarea class="area">
				    </textarea>
	    		</div>
	    		<div class="main-right blue-border">
	    			<h2 class="title3">花品故事</h2>
				    <textarea class="area">
				    </textarea>
	    		</div>
	    	</div>
	    	<div class="new-update">
	    		<button type="button" class="btn btn-success create-new">继续添加</button>
	    		<button type="button" class="btn btn-primary update-info">新增</button>
	    	</div>
	    </div>
	    <!-- The template to display files available for upload -->
		<script id="template-upload" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
		    <tr class="template-upload fade">
		        <td>
		            <span class="preview"></span>
		        </td>
		        <td>
		            <p class="name">{%=file.name%}</p>
		            <strong class="error text-danger"></strong>
		        </td>
		        <td>
		            <p class="size">Processing...</p>
		            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
		        </td>
		        <td>
		            {% if (!i && !o.options.autoUpload) { %}
		                <button class="btn btn-primary start" disabled>
		                    <span>Start</span>
		                </button>
		            {% } %}
		            {% if (!i) { %}
		                <button class="btn btn-warning cancel">
		                    <span>Cancel</span>
		                </button>
		            {% } %}
		        </td>
		    </tr>
		{% } %}
		</script>
		<!-- The template to display files available for download -->
		<script id="template-download" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
		    <tr class="template-download fade">
		        <td>
		            <span class="preview">
		                {% if (file.thumbnailUrl) { %}
		                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
		                {% } %}
		            </span>
		        </td>
		        <td>
		            <p class="name">
		                {% if (file.url) { %}
		                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
		                {% } else { %}
		                    <span>{%=file.name%}</span>
		                {% } %}
		            </p>
		            {% if (file.error) { %}
		                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
		            {% } %}
		        </td>
		        <td>
		            <span class="size">{%=o.formatFileSize(file.size)%}</span>
		        </td>
		        <td>
		            {% if (file.deleteUrl) { %}
		                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
		                    <i class="glyphicon glyphicon-trash"></i>
		                    <span>Delete</span>
		                </button>
		            {% } else { %}
		                <button class="btn btn-warning cancel">
		                    <i class="glyphicon glyphicon-ban-circle"></i>
		                    <span>Cancel</span>
		                </button>
		            {% } %}
		        </td>
		    </tr>
		{% } %}
		</script>
	    <script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/vendor/jquery.ui.widget.js"></script>
		<!-- The Templates plugin is included to render the upload/download listings -->
		<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
		<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
		<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
		<!-- The Canvas to Blob plugin is included for image resizing functionality -->
		<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
		<!-- blueimp Gallery script -->
		<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
		<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
		<script src="js/jquery.iframe-transport.js"></script>
		<!-- The basic File Upload plugin -->
		<script src="js/jquery.fileupload.js"></script>
		<!-- The File Upload processing plugin -->
		<script src="js/jquery.fileupload-process.js"></script>
		<!-- The File Upload image preview & resize plugin -->
		<script src="js/jquery.fileupload-image.js"></script>
		<script src="js/jquery.fileupload-validate.js"></script>
		<!-- The File Upload user interface plugin -->
		<script src="js/jquery.fileupload-ui.js"></script>
		<script src="js/util.js"></script>
		<!-- The main application script -->
		<script src="js/manage.js"></script>
	</body>
</html>